html, body {
    background-color: #0f1c37;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-family: monospace;
    font-size: 1.2em;
    font-weight: 400;

    margin: 0;
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

h1 {
    font-size: 1.5em;
}

p {
    text-align: center;
    padding-left: 5%;
}

img {
    width: 95%;
}

.left-column {
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
    align-content: stretch;
    width: 25%;
    left: 0;
    position: absolute;
}

.score {
    position: absolute;
    top: 100px;
    z-index: 42;
    padding: 20px;
}